@page
@model LogicLeapPiazzaRemake.Pages.Discussions.Delete_StudentModel
@{
    ViewData["Title"] = "Drop Student";
}

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-danger py-2">Drop Student from this Class</h2>
        </div>
    </div>
</div>
<form method="post">
    <div class="form-group">
        <label asp-for="studentEnrollment.ApplicationUser.UserName"></label>
        <input readonly type="text" class="form-control bg-dark" asp-for="studentEnrollment.ApplicationUser.UserName" id="studentUserName">
    </div>

    <input asp-for="studentEnrollment.Id" type="hidden">

    <button type="submit" class="btn btn-primary">Drop</button>
        <a asp-page="../AdminSettings" class="btn btn-outline-primary border  form-control">
            Back to List
        </a>
</form>