@page
@model LogicLeapPiazzaRemake.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}


<div class="container pe-4">
    <div>
        <h2>About the Developers</h2>
        <p><strong>Authors:</strong> Josh Buchanan, Jessica Caron, Allan Delos Santos, Hunter Murphy, Tanner Schulz</p>
        <p><strong>Publication date:</strong> 2/28/2024</p>
        <p><strong>Title of program or source code:</strong> Conversa Messaging Application</p>
        <p><strong>Code version:</strong> 2.0</p>
        <p><strong>Type:</strong> .NET Razor Pages</p>
    </div>
    <div class="py-4">
        <h2>About the Project</h2>
            
        <h5>Project Vision and Overview</h5>
        <p>
            The problem our software addresses is the fragmented and complex communication between
            students and professors on academic topics. Current communication software used by students
            often feels disconnected from the topics it serves, both in communication and discussion
            between students and professors.
        </p>
        <p>
            Current software applications like Discord, Teams, Slack, and Piazza each have a niche in the
            industry. Teams and Slack dominate larger enterprise communication with numerous
            integrations and functionalities. Discord is utilized by smaller companies and for personal/private
            use with easy-to-use voice and text options that provide flexibility. Piazza, with forum-like
            posting and a focus on academic collaboration, enables effective topic-based communication
            easily moderated by professors.
        </p>
        <p>
            We can eliminate the limitations of Discord, Teams, Slack, and Piazza with the perspective of
            building a communication and discussion platform focused on academia. Discord feels a bit too
            unorganized at times, Teams and Slack have awkward forum posting and topic posting creation,
            and Piazza seems to lack current UI/UX design and an easier way to connect with other
            students. Our solution would involve finding what each app does well and focus on
            implementing them together in one application.
        </p> 
        <p>
            Our solution would enable university students and professors to communicate easily in multiple
            ways using a single software solution. This includes ways for professors to set and manage
            topics and students, while also allowing for freedom and flexibility of communication among the
            students. We want to incorporate well managed topics and a hard focus on an academic “feel”
            so that students and professors can stay on topic while also feeling free to communicate in
            multiple ways.
        </p>
        <h5>
            General Roles
        </h5>
        <ul>
            <li>
                Design/UI - Jess/Josh
            </li>
            <li>
                Database - Josh/Hunter/Tanner
            </li>
            <li>
                Software continuity (Software Dev/c#) - Allan/Tanner
            </li>
            <li>
                Version Control Master - Josh
            </li>
            <li>
                Project Managers - Jess/Tanner
            </li>
        </ul>
        <h5>
            Known Issues
        </h5>
        <ul>
            <li>
                Because the limitations of this first release, published site RAM is limited and causes slow down and errors when used by multiple people simultaneously.  
                A new publishing method would be implemented prior to software release.
            </li>
            <li>
                Email notifications are currently not working.  They are intended to be sent on any activity for saved posts.  They are limited to be sent to email addresses 
                within the same domain and thus do not function as expected. A new method for email notifications would be implemented prior to software release.
            </li>
            
        </ul>
        <p>This website was built using ASP.NET Core 7.</p>
        <h5>Educational Software Release Statement</h5>
        <p>
            This version of the software has been officially released to Weber State University for exclusive non-commercial use. 
            The release is intended to serve as a dedicated learning tool, facilitating educational endeavors within the academic community.
        </p>
        <p>
            We authorize the utilization of this software strictly for educational purposes within the academic confines of Weber State University. 
            The software is tailored to augment learning experiences, offering a hands-on approach to understanding concepts and methodologies 
            pertinent to the academic curriculum.
        </p>
        <p>
            It is imperative to underscore that this software release is expressly intended for educational utilization and is not authorized 
            for any commercial applications. Weber State University assumes the responsibility to ensure that the software is employed in 
            compliance with educational objectives, fostering an environment conducive to intellectual growth and academic exploration.
        </p>
        <p>
            We encourage the responsible and ethical use of this software within the educational framework provided by Weber State University. 
            It is our collective endeavor to uphold the principles of academic integrity and promote the advancement of knowledge through 
            innovative educational tools.
        </p>
        <br/>
        <a href="https://github.com/Logic-Leap-Technologies/PiazzaRemake" target="_blank" class="btn btn-primary">Link to GitHub</a>
    </div>

</div>
